{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>

	<div class="mb-3">
		<a href="{{ path('app_product_index', { orderBy: 'name', direction: 'ASC' }) }}">Nom (A-Z)</a>
		|
		<a href="{{ path('app_product_index', { orderBy: 'name', direction: 'DESC' }) }}">Nom (Z-A)</a>
		<a href="{{ path('app_product_index', { orderBy: 'rent', direction: 'ASC' }) }}">Disponible à la location en dernier</a>
		<a href="{{ path('app_product_index', { orderBy: 'rent', direction: 'DESC' }) }}">Disponible à la location en premier</a>
	</div>

	<form method="get" action="{{ path('app_product_index') }}">
		<div class="form-group">
			<label for="rent">Disponible à la location</label>
			<select name="rent" id="rent" class="form-control">
				<option value="">Tous</option>
				<option value="1" {% if filters.rent == '1' %} selected {% endif %}>Disponible à la location ou à l'achat</option>
				<option value="0" {% if filters.rent == '0' %} selected {% endif %}>Disponible à l'achat uniquement</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Filtrer</button>
	</form>

	<div class="row">
		{% for product in products %}
			<div class="col-12 col-sm-6 col-lg-3 mb-4 d-flex justify-content- around align-items-stretch">
				<div class="card w-100">
					<div class="card-img-top-wrapper taille-image">
						<img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}" class="card-img-top w-100 h-100 object-fit-cover">
					</div>
					<div class="card-body d-flex flex-column flex-grow-1">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text truncate">{{ product.description }}</p>
						{% if product.rent == true %}
							<p class="card-text">Disponible à la location ou l'achat</p>
						{% else %}
							<p class="card-text">Disponible à l'achat uniquement</p>
						{% endif %}
						<a href="{{ path("app_product_show", { id:product.id })}}" class="btn btn-primary">Voir le produit en détail</a>
						<button class="btn btn-secondary">
							<i class="bi bi-basket">
								Ajouter à la liste</i>
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
