{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<img src="{{ asset('/build/images/main.623ca7c1.svg') }}" alt="logo de perle do" class="d-flex w-50 my-2 logo  d-block d-md-none">
	<h1 class="text-center text-decoration-underline mb-3">Liste des produits</h1>

	<div class="mb-3 d-flex justify-content-end align-item-center gap-2">
		<a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'name', direction: 'ASC', rent: filters.rent }) }}">Nom (A-Z)</a>
		<span class="align-self-center">|</span>
		<a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'name', direction: 'DESC', rent: filters.rent }) }}">Nom (Z-A)</a>
		<span class="align-self-center">|</span>
		{# <a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'price', direction: 'ASC', rent: filters.rent }) }}">Prix (croissant)</a>
				<span class="align-self-center">|</span>
				<a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'price', direction: 'DESC', rent: filters.rent }) }}">Prix (décroissant)</a>
				<span class="align-self-center">|</span> #}
		<a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'rent', direction: 'ASC', rent: filters.rent }) }}">Disponible à la location en dernier</a>
		<span class="align-self-center">|</span>
		<a class="tri link-offset-2 link-underline link-underline-opacity-0 text-center d-flex flex-column justify-content-center p-1" href="{{ path('app_product_index', { orderBy: 'rent', direction: 'DESC', rent: filters.rent }) }}">Disponible à la location en premier</a>
	</div>


	<form method="get" action="{{ path('app_product_index') }}" class="mb-3 d-flex justify-content-end gap-2">
		<input type="hidden" name="orderBy" value="{{ orderBy }}">
		<input type="hidden" name="direction" value="{{ direction }}">
		<div class="d-flex justify-content-end align-items-center gap-1">
			<label for="rent">Disponible à la location :</label>
			<select name="rent" id="rent" class="form-control w-auto">
				<option value="">Tous</option>
				<option value="1" {% if filters.rent == '1' %} selected {% endif %}>Oui</option>
				<option value="0" {% if filters.rent == '0' %} selected {% endif %}>Non</option>
			</select>
		</div>
		<button type="submit" class="btn btn-secondary btn-color">Filtrer</button>
	</form>


	<div class="row">
		{% for product in pagination %}
			<div class="card-product col-12 col-sm-6 col-lg-3 mb-4 d-flex justify-content- around align-items-stretch">
				<div class="card w-100">
					<div class="card-img-top-wrapper taille-image">
						<img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}" class="card-img-top w-100 h-100 object-fit-cover">
					</div>
					<div class="card-body d-flex flex-column flex-grow-1 gap-1">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text truncate">{{ product.description }}</p>
						{% if product.rent == true %}
							<p class="card-text text-center">Disponible à la location ou l'achat</p>
						{% else %}
							<p class="card-text text-center">Disponible à l'achat uniquement</p>
						{% endif %}
						<a href="{{ path("app_product_show", { id:product.id })}}" class="btn btn-secondary btn-color">Voir le produit en détail</a>
						<button class="btn btn-secondary">
							<i class="bi bi-basket">
								Ajouter à la liste</i>
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="pagina">
		{{ knp_pagination_render(pagination) }}
	</div>

	<a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
